.searchBar {
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  padding-top: 30px;
}

.searchInput {
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  color: white;
  margin-left: 10px;
  font-size: 25px;
  width: 800px;
  height: 35px;
}